body{
	margin: 0;
}

.head{
	font-family: 'Sansita Swashed', cursive;
	font-size: 55px;
	color: #3B0043;
}

.main{
	background: #E2DDE3;
	height: 100%;
}


.input{
	text-transform: capitalize;
	color: #ffffff !important;
	background: #3B0043 !important;
	font-family: 'Sansita Swashed', cursive;
	font-weight: 300 !important;
}

.user{
	padding: 20px;
	border-radius: 5px;
	margin: 20px 0;
}

.card{
	background-color: #bdb3be !important;
}

.card-title{
	font-family: 'Sansita Swashed', cursive;
	color: #3B0043;
}
